* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#topper {
  margin-bottom: 0;
  font-size: 18px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.carousel-item {
  height: 100vh;
  min-height: 420px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2 {
  color: #ff3f34;
}

h2 {
  font-size: 42px;
}

.intro {
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.fea span {
  color: #1f1e1e;
  font-size: 3em;
}

.fea {
  margin-bottom: 1.5em !important;
  padding: 3em 0.5em;
  box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
  background-color: rgba(76, 110, 245, .1);
}

.bottom-gd.fea h3 {
  font-size: 1.2em;
}

.fea.active {
  background: #ff3f34;
}

.fea.active p, .fea.active h3 {
  color: #fff;
}

.press {
  height: 600px;
  overflow: hidden;
}

.press img {
  height: 93%;
  width: 100%;
  border-radius: 6px;
}

.tittle {
  color: #ff3f34;
  font-size: 33px;
  font-family: 'Acme', sans-serif;
}

.my-3 {
  font-family: 'Acme', sans-serif;
}
.box18 {
  overflow: hidden;
  background: #3c3c3c;
  position:relative;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  height:60%;
}

.box18:after, .box18:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #3c3c3c;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  opacity: .9;
  z-index: 1;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}
.box18 img{
  height: 100%;
  width: 100%;
}

.box18:before {
  -webkit-transform: skew(45deg) translateX(-155%);
  transform: skew(45deg) translateX(-155%);
}

.box18:hover:before {
  -webkit-transform: skew(45deg) translateX(-55%);
  transform: skew(45deg) translateX(-55%);
}

.box18:after {
  -webkit-transform: skew(45deg) translateX(155%);
  transform: skew(45deg) translateX(155%);
}

.box18:hover:after {
  -webkit-transform: skew(45deg) translateX(55%);
  transform: skew(45deg) translateX(55%);
}

.box18 img {
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.box18:hover img {
  opacity: .5;
}

.box18 .box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0 0 10px #3c3c3c;
  box-shadow: 0 0 10px #3c3c3c;
  opacity: 0;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(.5);
  transform: translate(-50%, -50%) scale(.5);
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}
.box18:hover .box-content {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.box18 .post, .box18 .title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #3c3c3c;
  border: 2px solid #fff;
  color: #fff;
  padding:4px 8px;
  text-align:center;
  margin: 0;
}
.box18 .title{
  width:200px;
}

.box18 .post {
  text-transform: capitalize;
}

.box18 .post {
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px;
  margin-top: 15px;
}


.one{
  border:none;
  height:235px;
}
